{% extends "container/basic_form.html.twig" %}

{% block form %}

    <div class="row">
        <div class="col-lg-12">
            <h4 class="widget-header">{{ subtitle }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Safe From - including csrf token as hidden control
            {{ formOpen('form1', getAbsoluteUrl('/something'), '', {class:"form-horizontal"})|raw }}

                <div id="example-form-layer">

                </div>


            {{ formClose()|raw }}
            -->

            <!--  Back button
            <a href="{{ getAbsoluteUrl('?ws_layout_id=example.list') }}">Back</a>
            -->

            <!-- Normal Form - You must put csrd tokn into the request separately-->
            <form id="widget-container" class="form form-horizontal">

            </form>

        </div>
    </div>



    <script type="text/javascript" src="{{ webAppUrl }}/js/dist/example/exampleFormWidget.min.js"></script>
    <script>
        app.Bootstrap.showFormWidget({{ id }}, false, '{{ getCsrfTokenId('form1')|raw }}', '{{ getCsrfTokenValue('form1')|raw }}');
    </script>


{% endblock %}
