{% extends "container/basic_table.html.twig" %}

{% block table %}


        <div class="row">
            <div class="col-lg-12">
                <h4 class="widget-header">{{ subtitle }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="widget-container" class="widget"></div>
            </div>
        </div>

        <script type="text/javascript" src="{{ webAppUrl }}/js/dist/example/exampleGridWidget.min.js"></script>

        <script>
            app.Bootstrap.showGridWidget(false);
        </script>



{% endblock %}
