<html>
<head>
    <link rel="stylesheet" href="{{ bowerUrl }}/bootstrap/dist/css/bootstrap.min.css" >
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="container">
        <div class="footer-wrap text-center">
            World Sailing 2017
        </div>
    </div>
</body>
</html>
