/*!
 * Copyright (C) World Sailing, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Tamas Feiszt <tamas.feiszt@sailing.org>, 2017
 */

.widget {
    .mouse-pointer {
        cursor: pointer;
    }
}
.footer-wrap {
    padding: 20px 0;
}