{% extends "static/frame.html.twig" %}
{% block content %}
<script src="{{ bowerUrl }}/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="{{ bowerUrl }}/react/react-with-addons.js" type="text/javascript"></script>
<script src="{{ bowerUrl }}/react/react-dom.js" type="text/javascript"></script>
<script src="{{ bowerUrl }}/director/build/director.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ webAppUrl }}/css/dist/main.min.css">


    <div class="row">
        <div class="col-lg-12">
            <h1>{{ title }}</h1>
        </div>
    </div>


    {% block table %}{% endblock %}



{% endblock %}
